<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center mt-4">
        <h1 class="text-left">All Services</h1>
        <button class="btn btn-primary" (click)="openDialog()">New  Service</button>

      </div>
      <hr />
      <table class="table table-striped">
        <thead class="bg-light">
          <tr>
            <th>Service name</th>
            <th> Weight</th>
          

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of services" class="data">
            <td>
              <div class="ms-3">
                <p class="">{{ service.serviceName }}</p>
              </div>
            </td>

            <td>
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ service.weight }}</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>